# Zkopíruj tento soubor jako .env a nastav vlastní hodnoty
# .env NIKDY nenahrávej na GitHub!

SECRET_KEY=zmen_na_dlouhy_nahodny_retezec
RESET_TOKEN=zmenit_na_sve_tajne_heslo
DATA_FILE=data/votes.json
IP_VOTES_FILE=data/ip_votes.json
